@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/poppins-v20-latin-800.woff2") format("woff2");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: 0.3s;
}

input {
  outline: none;
}

.btn {
  background-color: #FFC000;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-size: 16px;
  line-height: 23px;
  color: #0D0D0D;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s;
}
.btn:hover {
  background-color: transparent;
  color: #FFC000;
  border-color: #FFC000;
  font-weight: 400;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 140px;
  background-color: #FAFAFA;
  transition: 0.4s;
  z-index: 99;
}
header .top_milandi {
  width: 100%;
  background-color: #0D0D0D;
}
header .language {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
}
header .language span {
  color: rgba(255, 255, 255, 0.3019607843);
  font-size: 10px;
  line-height: 14px;
  font-weight: 600;
  cursor: pointer;
}
header .language span:hover {
  color: #fff;
}
header .language .language_span {
  color: #fff;
}

.navbar-shrink {
  height: 112px;
  box-shadow: 0 0 10px 5px #dddddd;
}

.navbar {
  height: 100px;
  transition: 0.4s;
}

.navbar-shrink .navbar {
  height: 72px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 34px;
}
.navbar > a {
  display: flex;
  align-items: center;
}
.navbar > a img {
  display: none;
}
.navbar strong {
  font-size: 23px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: 0.4px;
  font-family: "Poppins";
  color: #0D0D0D;
}
.navbar_icons {
  display: none;
}
.navbar_menu {
  display: flex;
  align-items: center;
  max-width: 900px;
  width: 100%;
  justify-content: space-between;
}
.navbar_items {
  display: flex;
  align-items: center;
  gap: 24px;
}
.navbar_link {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
  transition: 0.3s;
}
.navbar_link:hover {
  color: gray;
}
.navbar_btns {
  display: flex;
  align-items: center;
  gap: 15px;
}
.navbar_btn {
  background-color: rgba(0, 0, 0, 0.0509803922);
  padding: 4px 8px;
  color: #0D0D0D;
  border-radius: 4px;
  border: 1px solid transparent;
  font-size: 16px;
  line-height: 23px;
}
.navbar_btn:hover {
  background-color: #0D0D0D;
  color: rgba(255, 255, 255, 0.8941176471);
}
.navbar ion-icon {
  margin-left: 15px;
  font-size: 24px;
  color: #0D0D0D;
}
.navbar .burger_menu {
  display: none;
}

@media screen and (max-width: 992px) {
  .navbar {
    gap: 10px;
  }
  .navbar_menu {
    max-width: 350px;
    justify-content: center;
  }
  .navbar_items {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(255, 191, 0, 0.7019607843);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    width: 60vw;
    height: 60vh;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
  }
  .navbar_link {
    font-size: 18px;
  }
  .navbar .burger_menu {
    position: relative;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
  }
  .navbar .burger_menu span {
    width: 100%;
    height: 3px;
    background-color: #0D0D0D;
    border-radius: 6px;
    transition: all 0.5s ease-in-out;
  }
  .open_menu .navbar_items {
    transform: translateX(0);
  }
  .open_menu .navbar .burger_menu_top {
    position: absolute;
    transform: rotate(135deg);
  }
  .open_menu .navbar .burger_menu_center {
    position: absolute;
    transform: rotate(-135deg);
  }
  .open_menu .navbar .burger_menu_bottom {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .top_milandi {
    display: none;
  }
  .navbar-shrink {
    height: 72px;
  }
  .navbar {
    height: 100%;
  }
  .navbar > a {
    width: 90px;
    justify-content: flex-end;
  }
  .navbar > a img {
    display: block;
    width: 46px;
    height: 46px;
  }
  .navbar strong {
    display: none;
  }
  .navbar_icons {
    display: flex;
  }
  .navbar_icons ion-icon {
    font-size: 28px;
  }
  .navbar_menu {
    position: absolute;
    max-width: 100vw;
    width: 100%;
    height: 80vh;
    top: 100%;
    left: 0;
    background-color: rgba(255, 191, 0, 0.7019607843);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    flex-direction: column;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
    gap: 30px;
  }
  .navbar_items {
    background-color: transparent;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    transform: translateX(0);
    width: auto;
    height: auto;
    padding: 0;
    align-items: center;
    position: relative;
    top: auto;
    right: auto;
  }
  .navbar_btns {
    flex-direction: column;
  }
  .navbar_btns .btn {
    background-color: #0D0D0D;
    color: #FFC000;
  }
  .navbar_btns .btn:hover {
    background-color: transparent;
    color: #0D0D0D;
    border-color: #0D0D0D;
  }
  .navbar_btn {
    background-color: rgba(13, 13, 13, 0.3176470588);
  }
  .navbar .burger_menu {
    position: absolute;
    left: 20px;
    top: auto;
  }
  .open_menu .navbar_menu {
    transform: translateX(0);
  }
}
footer {
  margin-top: 50px;
  padding: 60px 0;
  background-color: #ffffff;
}

.footer {
  display: flex;
  align-items: flex-start;
  gap: 40px 24px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer h4 {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.75px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.footer p {
  font-size: 14px;
  line-height: 23px;
  color: #000000;
  letter-spacing: 0.25px;
  padding-bottom: 10px;
}
.footer_one {
  max-width: 270px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer_one img {
  width: 95px;
  height: 95px;
  margin-top: 5px;
}
.footer_two {
  max-width: 190px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 38px;
}
.footer_three {
  max-width: 190px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer_items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.footer_items a {
  color: #000000;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.25px;
}
.footer_items a:hover {
  color: grey;
}

@media screen and (max-width: 576px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer_one {
    align-items: center;
  }
  .footer_two {
    align-items: center;
  }
  .footer_three {
    align-items: center;
  }
  .footer_items {
    align-items: center;
  }
}
main {
  padding-top: 140px;
}

.home {
  background-color: #F2F3F7;
}
.home .section_one {
  position: relative;
  background-color: #E1AA00;
  padding: 200px 0;
  height: 788px;
}
.home .hero_bg {
  background-color: #000000;
}
.home .hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .hero_text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 580px;
  padding: 20px 0 100px 0;
}
.home .hero_text h1 {
  color: #fff;
  font-size: 34px;
  line-height: 47px;
  letter-spacing: 0.25px;
}
.home .hero_text p {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  font-weight: 500;
  margin: 16px 0 24px 0;
}
.home .hero_text span {
  color: #FFC000;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  font-weight: 600;
}
.home .hero_img {
  position: absolute;
  right: 10%;
  top: 0;
  height: 100%;
}
.home .section_two {
  padding-top: 80px;
}
.home .cardh {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home .cardh h2 {
  font-size: 34px;
  line-height: 48px;
  letter-spacing: 0.25px;
  margin-bottom: 24px;
  color: #000000;
}
.home .cardh_cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.home .cardh_card {
  width: 295px;
  height: 145px;
  border-radius: 12px;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 26px 30px;
  gap: 45px;
  transition: 0.4s;
}
.home .cardh_card:hover {
  box-shadow: 0 0 10px 8px rgb(235, 235, 235);
}
.home .cardh_card h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.44px;
  color: #000;
  text-align: center;
}
.home .section_three {
  padding-top: 60px;
}
.home .nice {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 38px;
}
.home .nice h2 {
  font-size: 34px;
  line-height: 48px;
  letter-spacing: 0.25px;
  color: #000000;
  text-align: center;
}
.home .nice_cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 28px;
}
.home .nice_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 265px;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.home .nice_card:hover {
  box-shadow: 0 0 10px 10px rgba(177, 177, 177, 0.3);
}
.home .nice_card > img {
  width: 100%;
}
.home .nice_card_img {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.home .nice_text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 13px;
  gap: 8px;
}
.home .nice_text .btn {
  width: 100%;
}
.home .nice_text h3 {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}
.home .nice_text p {
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.4px;
}
.home .section_four {
  padding: 60px 0 240px 0;
}
.home .foot {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 38px;
}
.home .foot_cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 28px;
}
.home .foot_card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  background-color: #D4D4D4;
  width: 264px;
  height: 352px;
  transition: all 0.3s ease-in-out;
}
.home .foot_card_img2 {
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.3s ease-in-out;
}
.home .foot_card_img {
  position: absolute;
  top: 78px;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.home .foot_card:hover .foot_card_img {
  top: 4px;
}
.home .foot_card:hover .foot_card_img2 {
  top: -74px;
}
.home .foot_card:hover .foot_btn {
  bottom: 0;
}
.home .foot_btn {
  position: absolute;
  left: 0;
  bottom: -80px;
  height: 78px;
  border: none;
  background-color: #0D0D0D;
  width: 100%;
  color: #FFC000;
  font-size: 24px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.home .section_five {
  background-color: #0F0D2B;
  padding: 50px 0;
}
.home .pridlo {
  display: flex;
  align-items: center;
  gap: 40px;
}
.home .pridlo_img {
  position: relative;
  width: 460px;
}
.home .pridlo_img .img_iphone {
  position: absolute;
  top: -380px;
  left: -30px;
}
.home .pridlo_text {
  max-width: 740px;
  width: 100%;
}
.home .pridlo_text h2 {
  font-size: 34px;
  line-height: 47px;
  color: #fff;
}
.home .pridlo_text p {
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  letter-spacing: 0.44px;
  font-weight: 200;
  margin: 24px 0 40px 0;
  opacity: 0.8;
}
.home .pridlo_sayt {
  display: flex;
  align-items: center;
  gap: 32px;
}
.home .section_six {
  padding: 60px 0;
}
.home .imperia {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}
.home .imperia_img {
  max-width: 705px;
}
.home .imperia_img img {
  width: 100%;
}
.home .imperia_text {
  max-width: 550px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;
}
.home .imperia_text h2 {
  font-size: 34px;
  line-height: 48px;
  color: #000;
}
.home .imperia_text p {
  font-size: 16px;
  line-height: 22px;
  color: #000;
  font-weight: 200;
}
.home .section_seven {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFC000;
}
.home .section_seven h2 {
  text-align: center;
  max-width: 660px;
  font-size: 34px;
  line-height: 48px;
  letter-spacing: 0.25px;
}
.home .section_seven h2 span {
  font-size: 60px;
}

@media (max-width: 1200px) {
  .home .hero_img {
    right: 5%;
  }
}
@media (max-width: 1140px) {
  .home .section_one {
    height: 660px;
  }
  .home .hero_img {
    right: 10px;
    height: 660px;
  }
  .home .hero_img img {
    height: 100%;
  }
}
@media screen and (max-width: 992px) {
  .home .section_one {
    padding: 0;
    margin-bottom: 300px;
  }
  .home .hero_bg {
    background-color: transparent;
  }
  .home .hero_text {
    position: absolute;
    bottom: -250px;
    left: 0;
    right: 0;
    height: 250px;
    max-width: 100%;
    padding: 20px;
  }
  .home .hero_text h1 {
    color: #0D0D0D;
  }
  .home .hero_text p {
    color: #0D0D0D;
  }
  .home .hero_text span {
    color: #0D0D0D;
  }
  .home .hero_text path {
    fill: #0D0D0D;
  }
  .home .hero_img {
    right: 25%;
  }
  .home .cardh h2 {
    font-size: 28px;
  }
  .home .cardh_cards {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .home .pridlo {
    flex-direction: column;
  }
  .home .pridlo_img {
    height: 300px;
  }
  .home .pridlo_img .img_iphone {
    top: -200px;
  }
  .home .section_six {
    padding: 60px 20px;
    max-width: 705px;
    margin: 0 auto;
  }
  .home .imperia {
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
  }
  .home .imperia_img img {
    width: 100%;
  }
  .home .imperia_text {
    max-width: 700px;
    width: 100%;
    padding: 0 20px 40px 20px;
  }
}
@media screen and (max-width: 768px) {
  main {
    padding-top: 100px;
  }
  .home .section_one {
    height: 500px;
  }
  .home .hero_text h1 {
    font-size: 28px;
    text-align: left;
    width: 80%;
  }
  .home .hero_text p {
    width: 90%;
    text-align: left;
  }
  .home .hero_img {
    height: 500px;
  }
  .home .cardh h2 {
    font-size: 24px;
  }
  .home .nice h2 {
    font-size: 28px;
  }
  .home .pridlo_img {
    height: 200px;
    max-width: 400px;
    width: 100%;
  }
  .home .pridlo_img .img_iphone {
    width: 300px;
    left: 0;
  }
  .home .pridlo_text h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .home .imperia_text h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .home .section_seven {
    height: 350px;
  }
  .home .section_seven h2 {
    font-size: 28px;
    max-width: 550px;
  }
  .home .section_seven h2 span {
    font-size: 44px;
  }
}
@media screen and (max-width: 576px) {
  .home .section_one {
    height: 440px;
  }
  .home .hero_text h1 {
    font-size: 24px;
    width: 90%;
    line-height: 30px;
  }
  .home .hero_img {
    height: 100%;
    right: 15%;
  }
  .home .nice h2 {
    font-size: 24px;
  }
  .home .foot h2 {
    font-size: 28px;
  }
  .home .pridlo_img {
    height: 150px;
  }
  .home .pridlo_img .img_iphone {
    width: 250px;
    top: -180px;
  }
  .home .pridlo_text h2 {
    font-size: 24px;
  }
  .home .pridlo_sayt img {
    width: 150px;
  }
  .home .imperia_text {
    align-items: center;
  }
  .home .imperia_text h2 {
    font-size: 24px;
    text-align: center;
  }
  .home .imperia_text p {
    text-align: center;
  }
  .home .section_seven {
    height: 280px;
  }
  .home .section_seven h2 {
    max-width: 320px;
    font-size: 20px;
    line-height: 32px;
  }
  .home .section_seven h2 span {
    font-size: 20px;
  }
}
.bg {
  background: #fafafa;
}
.bg .b {
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 800;
  line-height: 140%; /* 47.6px */
  letter-spacing: 0.25px;
  padding-top: 64px;
  padding-bottom: 25px;
}
.bg .tag {
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 47.6px */
  letter-spacing: 0.25px;
  padding-top: 63px;
  padding-bottom: 24px;
}
.bg .bosh {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 129px;
}
.bg .bosh .ong {
  max-width: 557px;
}
.bg .bosh .ong .bold {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 140%; /* 33.6px */
  padding-bottom: 25px;
}
.bg .bosh .ong .lorem {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 23.8px */
  letter-spacing: 0.25px;
}

.bg2 {
  background: #fff;
}
.bg2 .boxs {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  gap: 250px;
}
.bg2 .boxs .box {
  padding-top: 40px;
  text-align: center;
}
.bg2 .boxs .box .bx {
  padding-top: 45px;
}

.wts {
  height: 240px;
}

.bg3 {
  width: 100%;
  background: #0f0d2a;
}
.bg3 .blog {
  display: block;
  justify-content: center;
  align-items: center;
  gap: 65px;
}
.bg3 .blog .rek1 {
  margin-top: -180px;
}
.bg3 .blog .rek2 {
  width: 753px;
}
.bg3 .blog .rek2 .sd {
  color: var(--White, #fff);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 47.6px */
  letter-spacing: 0.25px;
}
.bg3 .blog .rek2 .lk {
  color: var(--White, #fff);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.44px;
  padding-top: 24px;
  padding-bottom: 40px;
}
.bg3 .blog .rek2 .foto {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 31px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 128px;
  padding-top: 152px;
}
.card .karta {
  padding: 40px 0;
}
.card .karta .iframe {
  width: 640;
  padding: 60px 0;
}
.card .info .hone {
  color: #000;
  font-family: Inter;
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  line-height: 64px; /* 139.13% */
  max-width: 460px;
}
.card .info .jk {
  max-width: 460px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card .info .jk .crd {
  padding-top: 36px;
}
.card .info .jk .crd .yu {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 177.778% */
  padding-bottom: 8px;
}
.card .info .jk .crd .uio {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
}

@media (min-width: 976px) {
  .bg .bosh {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .bg .bosh .ong {
    width: 100%;
  }
}
.bg3 {
  margin-top: 180px;
  background: #0f0d2a;
}
.bg3 .blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.bg2 {
  background: #fff;
}
.bg2 .boxs {
  align-items: center;
  justify-content: center;
  min-height: 160px;
  gap: 250px;
  flex-wrap: wrap;
}
.bg2 .boxs .box {
  padding-top: 40px;
  text-align: center;
}
.bg2 .boxs .box .bx {
  padding-top: 45px;
}

@media (min-width: 480px) {
  .bg .bosh {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .bg .bosh .ong {
    width: 100%;
  }
}
.bg3 {
  margin-top: 180px;
  background: #0f0d2a;
}
.bg3 .blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.bg2 {
  background: #fff;
}
.bg2 .boxs {
  align-items: center;
  justify-content: center;
  min-height: 160px;
  gap: 250px;
  flex-wrap: wrap;
}
.bg2 .boxs .box {
  padding-top: 40px;
  text-align: center;
}
.bg2 .boxs .box .bx {
  padding-top: 45px;
}

.page_4 .forth {
  height: 600px;
  display: flex;
}
.page_4 .forth .left-photos {
  max-width: 49%;
  height: 100%;
}
.page_4 .forth .left-photos .mini-photos {
  padding-left: 6px;
}
.page_4 .forth .class_page_4 {
  display: flex;
  align-items: center;
}
.page_4 .forth .right-text {
  max-width: 50%;
  height: 572px;
}
.page_4 .forth .right-text .lorem-1 {
  color: var(--Black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 47.6px */
  letter-spacing: 0.25px;
  margin: 20px 0px 8px 0px;
}
.page_4 .forth .right-text .lorem-2 {
  margin-bottom: 8px;
  max-width: 450px;
  color: var(--Black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.44px;
}
.page_4 .forth .right-text .cost-forth {
  margin-bottom: 8px;
  color: var(--Black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 47.6px */
  letter-spacing: 0.25px;
}
.page_4 .forth .right-text .boxes1 {
  margin-bottom: 8px;
  max-width: 260px;
  height: 60px;
  display: flex;
}
.page_4 .forth .right-text .boxes1 a {
  width: 50px;
  margin-right: 4px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgb(184, 184, 221);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.page_4 .forth .right-text .boxes1 a:hover {
  background-color: rgb(110, 110, 243);
  color: #fff;
}
.page_4 .forth .right-text .btn-1 {
  margin-bottom: 8px;
  width: 300px;
  height: 40px;
  flex-shrink: 0;
  background: var(--Yellow, #FFF);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.page_4 .forth .right-text .btn-1 a {
  font-size: 20px;
}
.page_4 .forth .right-text .btn-2 {
  margin-bottom: 8px;
  width: 300px;
  height: 40px;
  flex-shrink: 0;
  background: var(--Yellow, #FFF);
  display: flex;
  justify-content: center;
  align-items: center;
}
.page_4 .forth .right-text .btn-2 a {
  font-size: 20px;
}
.page_4 .forth .right-text .btn-1:hover {
  background: var(--Yellow, #FFC000);
  cursor: pointer;
}
.page_4 .forth .right-text .btn-1:hover a {
  color: #fff;
}
.page_4 .forth .right-text .btn-2:hover {
  cursor: pointer;
  background: var(--Yellow, #FFC000);
}
.page_4 .forth .right-text .btn-2:hover a {
  color: #fff;
}
.page_4 .forth .right-text .text2-forth {
  margin-bottom: 8px;
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
.page_4 .forth .right-text .boxes2 {
  margin-bottom: 8px;
  max-width: 410px;
  height: 90px;
  display: flex;
  flex-wrap: wrap;
}
.page_4 .forth .right-text .boxes2 .box2 {
  width: 200px;
  height: 42px;
  display: flex;
  align-items: center;
}
.page_4 .tovar {
  height: 590px;
}
.page_4 .tovar .poxoj {
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 47.6px */
  letter-spacing: 0.25px;
  text-align: center;
}
.page_4 .tovar .text-tovar {
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 47.6px */
  letter-spacing: 0.25px;
  text-align: center;
}
.page_4 .tovar .cards-tovar {
  max-width: 100%;
  height: 480px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 50px;
}
.page_4 .tovar .cards-tovar .card-tovar {
  width: 265px;
  height: 100%;
  text-align: center;
  padding-left: 15px;
}
.page_4 .tovar .cards-tovar .card-tovar .person {
  max-width: 100%;
}
.page_4 .tovar .cards-tovar .card-tovar .lorem-3 {
  color: var(--Black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  padding-left: 4px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.75px;
  text-transform: uppercase;
}
.page_4 .tovar .cards-tovar .card-tovar .lorem-4 {
  color: var(--Black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  padding: 5px 0px;
  font-weight: 500;
  line-height: 140%; /* 16.8px */
  letter-spacing: 0.4px;
}
.page_4 .tovar .cards-tovar .card-tovar .btn-1 {
  margin-bottom: 8px;
  width: 247px;
  height: 49px;
  flex-shrink: 0;
  background: var(--Yellow, #FFF);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.page_4 .tovar .cards-tovar .card-tovar .btn-1 a {
  font-size: 20px;
}
.page_4 .tovar .cards-tovar .card-tovar .btn-1:hover {
  background-color: #FFC000;
}
.page_4 .tovar .cards-tovar .card-tovar .btn-1:hover a {
  color: #fff;
}
.page_4 .best {
  height: 500px;
}
.page_4 .best .text1-best {
  color: #000;
  display: flex;
  justify-content: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 47.6px */
  letter-spacing: 0.25px;
}
.page_4 .best .cards-best {
  text-align: center;
  max-width: 1200px;
  height: 320px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.page_4 .best .cards-best .card-best {
  margin-right: 20px;
}
.page_4 .best .cards-best p {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 32.5px */
  letter-spacing: 0.5px;
}

@media only screen and (max-width: 380px) {
  .page_4 .forth {
    height: 680px;
    overflow-x: hidden;
  }
  .page_4 .big-photo {
    display: none;
  }
  .page_4 .mini-photos {
    display: none;
  }
  .page_4 .right-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .page_4 .right-text .lorem-1 {
    width: 500px;
  }
  .page_4 .tovar {
    height: 2000px;
  }
  .page_4 .best {
    height: 1250px;
  }
}
.page_5 .par1 {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.1px;
}
.page_5 .categ {
  padding-top: 32px;
  width: 264px;
  height: 288px;
  display: flex;
  flex-direction: column;
}
.page_5 .par2 {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Gotham Pro;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 106.667% */
}
.page_5 .par3 {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page_5 .par3 p {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
  letter-spacing: 0.15px;
}
.page_5 .line {
  background-color: #ccc;
  width: 264px;
  height: 1px;
  margin-top: 16px;
}
.page_5 .btn {
  text-align: center;
}
.page_5 .btn button {
  border: none;
  margin-top: 8px;
  padding: 12px 75px;
  width: 232px;
  height: 40px;
  background: var(--Yellow, #ffc000);
  color: var(--Black, #0d0d0d);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Gotham Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.56px;
}
.page_5 .img {
  border-radius: 12px;
}
.page_5 .par4 {
  display: flex;
  justify-content: space-between;
}
.page_5 .card {
  width: 264px;
  height: 325px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.page_5 .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.page_5 .lop {
  display: flex;
  justify-content: center;
  gap: 30px;
}

@media screen and (max-width: 576px) {
  .page_5 .cards {
    flex-wrap: wrap;
  }
  .page_5 .lop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.page_6 .hudie {
  height: 850px;
}
.page_6 .hudie .card-hudie {
  display: flex;
  gap: 60px;
  margin: 20px 0;
}
.page_6 .hudie .card-hudie .left-hudie img {
  height: 100%;
}
.page_6 .hudie .card-hudie .cost-hudie {
  display: flex;
  align-items: center;
  gap: 20px;
}
.page_6 .hudie .card-hudie .right-hudie {
  padding-left: 50px;
  padding-top: 40px;
}
.page_6 .hudie .card-hudie .text1-hudie {
  color: #040921;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 33.6px */
  margin-bottom: 60px;
}
.page_6 .hudie .card-hudie .text2-hudie {
  margin-bottom: 50px;
  width: 710px;
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  letter-spacing: 0.25px;
}
.page_6 .hudie .card-hudie .text3-hudie {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  letter-spacing: 0.25px;
}
.page_6 .hudie .card-hudie .text4-hudie {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.page_6 .hudie .card-hudie .one-hudie {
  width: 150px;
  height: 40px;
  display: flex;
  position: relative;
  left: 510px;
  bottom: 35px;
}
.page_6 .hudie .card-hudie .one-hudie .left {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background-color: #FFC000;
  cursor: pointer;
}
.page_6 .hudie .card-hudie .one-hudie .middle {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(226, 221, 221);
}
.page_6 .hudie .card-hudie .one-hudie .right {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background-color: #FFC000;
  cursor: pointer;
}
.page_6 .hudie .btn-hudie {
  width: 376px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #FFC000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.page_6 .hudie .btn-hudie a {
  font-size: 24px;
  color: #000;
}
.page_6 .hudie .btn-hudie:hover {
  background: #FFC000;
}
.page_6 .hudie .btn-hudie:hover a {
  color: #fff;
}
.page_6 .tovar {
  height: 590px;
}
.page_6 .tovar .poxoj {
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 47.6px */
  letter-spacing: 0.25px;
  text-align: center;
}
.page_6 .tovar .text-tovar {
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 47.6px */
  letter-spacing: 0.25px;
  text-align: center;
}
.page_6 .tovar .cards-tovar {
  max-width: 100%;
  height: 480px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 50px;
}
.page_6 .tovar .cards-tovar .card-tovar {
  width: 265px;
  height: 100%;
  text-align: center;
  padding-left: 15px;
}
.page_6 .tovar .cards-tovar .card-tovar .person {
  max-width: 100%;
}
.page_6 .tovar .cards-tovar .card-tovar .lorem-3 {
  color: var(--Black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  padding-left: 4px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.75px;
  text-transform: uppercase;
}
.page_6 .tovar .cards-tovar .card-tovar .lorem-4 {
  color: var(--Black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  padding: 5px 0px;
  font-weight: 500;
  line-height: 140%; /* 16.8px */
  letter-spacing: 0.4px;
}
.page_6 .tovar .cards-tovar .card-tovar .btn-1 {
  margin-bottom: 8px;
  width: 247px;
  height: 49px;
  flex-shrink: 0;
  background: var(--Yellow, #FFF);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #FFC000;
  border-radius: 8px;
}
.page_6 .tovar .cards-tovar .card-tovar .btn-1 a {
  font-size: 20px;
}
.page_6 .tovar .cards-tovar .card-tovar .btn-1:hover {
  background-color: #FFC000;
}
.page_6 .tovar .cards-tovar .card-tovar .btn-1:hover a {
  color: #fff;
}

@media only screen and (max-width: 380px) {
  .page_6 .tovar {
    height: 2000px;
  }
  .page_6 .hudie {
    height: 1800px;
  }
  .page_6 .hudie .btn-hudie {
    width: 300px;
    margin-right: 35px;
  }
  .page_6 .hudie .card-hudie {
    display: block;
  }
  .page_6 .hudie .card-hudie .right-hudie .text1-hudie {
    text-align: center;
    width: 350px;
    position: relative;
    right: 80px;
  }
  .page_6 .hudie .card-hudie .right-hudie .text2-hudie {
    position: relative;
    right: 60px;
    width: 300px;
    text-align: center;
  }
  .page_6 .hudie .card-hudie .right-hudie .text3-hudie {
    position: relative;
    right: 80px;
  }
  .page_6 .hudie .card-hudie .right-hudie .cost-hudie {
    position: relative;
    left: 40px;
  }
}
.vxod .her {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  margin-top: 238px;
}
.vxod .v {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  line-height: 47px;
}
.vxod .mail {
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.vxod .l {
  max-width: 600px;
}
.vxod .l img {
  width: 100%;
}
.vxod .em1 {
  width: 555px;
  height: 60px;
  background: none;
  border: 1px solid #DBDEE7;
  font-size: 18px;
  color: black;
  padding: 0 0 0 24px;
}
.vxod .p1 {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  margin-top: 16px;
}
.vxod .to1 {
  width: 555px;
  height: 60px;
  background: none;
  border: 1px solid #DBDEE7;
  font-size: 18px;
  color: black;
  padding: 0 0 0 24px;
  margin-top: 8px;
  background-image: url(../images/header_footer/open.png);
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: 18px;
}
.vxod .voy1 {
  max-width: 262px;
  width: 100%;
  height: 60px;
  background-color: #FFC000;
  color: #000;
  border: none;
  margin-top: 24px;
  font-weight: bold;
  transition: 0.3s;
}
.vxod .voy1:hover {
  border: 1px solid #FFC000;
  color: #FFC000;
  background: none;
  transform: scale(1.05);
}

@media (max-width: 1280px) {
  .vxod .mail {
    flex-direction: column;
    gap: 34px;
    text-align: center;
  }
}
@media (max-width: 740px) {
  .vxod .imgsh {
    width: 550px;
  }
  .vxod .voy1 {
    max-width: 555px;
  }
}
@media (max-width: 620px) {
  .vxod .imgsh {
    width: 450px;
  }
  .vxod .em1 {
    width: 450px;
  }
  .vxod .to1 {
    width: 450px;
  }
  .vxod .voy1 {
    max-width: 450px;
  }
}
@media (max-width: 460px) {
  .vxod .imgsh {
    width: 350px;
  }
  .vxod .voy1 {
    max-width: 350px;
  }
  .vxod .em1 {
    width: 350px;
  }
  .vxod .to1 {
    width: 350px;
  }
}/*# sourceMappingURL=style.css.map */