// 
.page_6{

    .hudie{
        height: 850px;
        .card-hudie{
            display: flex;
            gap: 60px;
            margin: 20px 0;
            .left-hudie{
                img{
                    height: 100%;
                }
            }
            .cost-hudie{
                display: flex;
                align-items: center;
                gap: 20px;
            }
            .right-hudie{
                padding-left: 50px;
                padding-top: 40px;
            }
            .text1-hudie{
                color: #040921;
                font-variant-numeric: lining-nums proportional-nums;
                font-family: Montserrat;
                font-size: 34px;
                font-style: normal;
                font-weight: 700;
                line-height: 140%; /* 33.6px */
                margin-bottom: 60px;
            }
            .text2-hudie{
                margin-bottom: 50px;
                width: 710px;
                color: #000;
                font-variant-numeric: lining-nums proportional-nums;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%; /* 22.4px */
                letter-spacing: 0.25px;
            }
            .text3-hudie{
                color: #000;
                font-variant-numeric: lining-nums proportional-nums;
                font-family: Montserrat;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%; /* 22.4px */
                letter-spacing: 0.25px;
            }
            .text4-hudie{
                color: #000;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px; /* 150% */
            }
            .one-hudie{
                width: 150px;
                height: 40px;
                display: flex;
                position: relative;
                left: 510px;
                bottom: 35px;
                .left{
                    width: 30%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 25px;
                    background-color: #FFC000;
                    cursor: pointer;

                }
                .middle{
                    width: 40%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgb(226, 221, 221);
                }
                .right{
                    width: 30%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 25px;
                    background-color: #FFC000;
                    cursor: pointer;

                }
                
            }
        }
        .btn-hudie{
            width: 376px;
            height: 56px;
            flex-shrink: 0;
            border-radius: 8px;
            border: 1px solid #FFC000;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            a{
                font-size: 24px;
                color: #000;
            }
        }
        .btn-hudie:hover{
            background: #FFC000;
            a{
                color: #fff;
            }
        }
    }

    .tovar{
        height: 590px;
        .poxoj{
            color: #000;
            text-align: center;
            font-variant-numeric: lining-nums proportional-nums;
            font-family: Montserrat;
            font-size: 34px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 47.6px */
            letter-spacing: 0.25px;
            text-align: center;
        }
        .text-tovar{
            color: #000;
            text-align: center;
            font-variant-numeric: lining-nums proportional-nums;
            font-family: Montserrat;
            font-size: 34px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 47.6px */
            letter-spacing: 0.25px;
            text-align: center;
        }
        .cards-tovar{
            max-width: 100%;;
            height: 480px;
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
            margin-top: 50px;
            .card-tovar{
                width: 265px;
                height: 100%;
                text-align: center;
                padding-left: 15px;
                .person{
                    max-width: 100%;
                }
                .lorem-3{
                    color: var(--Black, #000);
                    font-variant-numeric: lining-nums proportional-nums;
                    font-family: Montserrat;
                    font-size: 14px;
                    padding-left: 4px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 140%; /* 19.6px */
                    letter-spacing: 0.75px;
                    text-transform: uppercase;
                }
                .lorem-4{
                    color: var(--Black, #000);
                    font-variant-numeric: lining-nums proportional-nums;
                    font-family: Montserrat;
                    font-size: 12px;
                    font-style: normal;
                    padding: 5px 0px;
                    font-weight: 500;
                    line-height: 140%; /* 16.8px */
                    letter-spacing: 0.4px;
                }
                .btn-1{
                    margin-bottom: 8px;
        
                    width: 247px;
                    height: 49px;
                    flex-shrink: 0;
                    background: var(--Yellow, #FFF);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 10px;
                    border: 1px solid #FFC000;
                    border-radius: 8px;
                    a{
                        font-size: 20px;
                    }
                }
                .btn-1:hover{
                    background-color: #FFC000;
                    a{
                        color: #fff;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 380px){
    .page_6{
        .tovar{
            height: 2000px;
        }
        .hudie{
            height: 1800px;
            .btn-hudie{
                width: 300px;
                margin-right: 35px;
            }
            .card-hudie{
                display: block;
                .right-hudie{
                    .text1-hudie{
                        text-align: center;
                        width: 350px;
                        position: relative; 
                        right: 80px;              
                    }
                    .text2-hudie{
                        position: relative; 
                        right: 60px;  
                        width: 300px;
                        text-align: center;
                    }
                    .text3-hudie{
                        position: relative; 
                        right: 80px;  
                    }
                    .cost-hudie{
                        position: relative; 
                        left: 40px;
                    }

                }

            } 
        }
    }
}