
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 140px;
    background-color: #FAFAFA;
    transition: 0.4s;
    z-index: 99;
    .top_milandi{
        width: 100%;
        background-color: #0D0D0D;
    }
    .language{
        max-width: 1190px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
        height: 40px;
        @include flex-items;
        gap: 8px;
        span{
            color: #FFFFFF4D;
            font-size: 10px;
            line-height: 14px;
            font-weight: 600;
            cursor: pointer;
            &:hover{
                color: #fff;
            }
        }
        .language_span{
            color: #fff;
        }
    }
}
.navbar-shrink {
    height: 112px;
    box-shadow: 0 0 10px 5px #dddddd;
}
.navbar{
    height: 100px;
    transition: 0.4s;
}
.navbar-shrink .navbar{
    height: 72px;
}
.navbar{
    @include flex-items;
    justify-content: space-between;
    gap: 34px;
    &>a{
        @include flex-items;
        img{
            display: none;
        }
    }
    strong{
        font-size: 23px;
        line-height: 32px;
        font-weight: 700;
        letter-spacing: 0.4px;
        font-family: 'Poppins';
        color: #0D0D0D;
    }
    &_icons{
        display: none
    }
    &_menu{
        @include flex-items;
        max-width: 900px;
        width: 100%;
        justify-content: space-between;
    }
    &_items{
        @include flex-items;
        gap: 24px;
    }
    &_link{
        font-family: 'Montserrat', sans-serif;
        color: #000;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.1px;
        transition: .3s;
        &:hover{
            color: gray;
        }
    }
    &_btns{
        @include flex-items;
        gap: 15px;
    }
    &_btn{
        background-color: #0000000D;
        padding: 4px 8px;
        color: #0D0D0D;
        border-radius: 4px;
        border: 1px solid transparent;
        font-size: 16px;
        line-height: 23px;
        &:hover{
            background-color: #0D0D0D;
            color: #ffffffe4;
        }
    }
    ion-icon{
        margin-left: 15px;
        font-size: 24px;
        color: #0D0D0D;
    }
    .burger_menu{
        display: none;
    }
}


@include for-large-tablet(){
    .navbar{
        gap: 10px;
        &_menu{
            max-width: 350px;
            justify-content: center;
        }
        &_items{
            position: absolute;
            top: 100%;
            right: 0;
            background-color: #ffbf00b3;
            backdrop-filter: blur(4px);
            width: 60vw;
            height: 60vh;
            padding: 20px;
            flex-direction: column;
            align-items: flex-start;
            transform: translateX(100%);
            transition: all 0.5s ease-in-out;
        }
        &_link{
            font-size: 18px;
        }
        .burger_menu{
            position: relative;
            width: 24px;
            height: 24px;
            @include flex-items;
            flex-direction: column;
            justify-content: center;
            gap: 4px;
            span{
                width: 100%;
                height: 3px;
                background-color: #0D0D0D;
                border-radius: 6px;
                transition: all 0.5s ease-in-out;
            }
        }
    }
    .open_menu{
        .navbar{
            &_items{
                transform: translateX(0);
            }
            .burger_menu{
                &_top{
                    position: absolute;
                    transform: rotate(135deg);
                }
                &_center{
                    position: absolute;
                    transform: rotate(-135deg);
                }
                &_bottom{
                    display: none;
                }
            }
        }
    }
}

@include for-large-mobile(){
    header {
        height: 100px;
        @include flex-items;
        justify-content: center;
        .top_milandi{
            display: none;
        }
    }
    .navbar-shrink{
        height: 72px;
    }
    .navbar{
        height: 100%;
        &>a{
            width: 90px;
            justify-content: flex-end;
            img{
                display: block;
                width: 46px;
                height: 46px;
            }
        }
        strong{
            display: none;
        }
        &_icons{
            display: flex;
            ion-icon{
                font-size: 28px;
            }
        }
        &_menu{
            position: absolute;
            max-width: 100vw;
            width: 100%;
            height: 80vh;
            top: 100%;
            left: 0;
            background-color: #ffbf00b3;
            backdrop-filter: blur(4px);
            flex-direction: column;
            transform: translateX(-100%);
            transition: all 0.5s ease-in-out;
            gap: 30px;
        }
        &_items{
            background-color: transparent;
            backdrop-filter: none;
            transform: translateX(0);
            width: auto;
            height: auto;
            padding: 0;
            align-items: center;
            position: relative;
            top: auto;
            right: auto;
        }
        &_btns{
            flex-direction: column;
            .btn{
                background-color: #0D0D0D;
                color: #FFC000;
                &:hover{
                    background-color: transparent;
                    color: #0D0D0D;
                    border-color: #0D0D0D;
                }
            }
        }
        &_btn{
            background-color: #0d0d0d51;
        }
        .burger_menu{
            position: absolute;
            left: 20px;
            top: auto;
        }
    }
    .open_menu{
        .navbar{
            &_menu{
                transform: translateX(0);
            }
        }
    }
}